<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link href="/normalize.css" type="text/css" rel="stylesheet">
    <link href="/physics.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/persona-buttons.css" />
    <script type='text/javascript' src='/knockout-2.3.0.js'></script>
    <script type='text/javascript' src='/knockout.mapping-2.4.1.js'></script>
    <script type="text/javascript" src="/util.js"></script>
    <script type="text/javascript" src="/numeric-1.2.6.min.js"></script>
    <script type="text/javascript" src="/drawing.js"></script>
    <script type="text/javascript" src="/physics.js"></script>
    <script src="/jquery.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="middle">
        <div id="canvas_div">
          <canvas id="mycanvas" width="600" height="600"></canvas>
          <!-- ko foreach: misc -->
            <!-- ko if: $data.type() == 'note' -->
            <div class="notes" data-bind="html: html, style: {left: x, top: y, backgroundColor: color, width: size.x, height: size.y}"></div>
            <!-- /ko -->
          <!-- /ko -->
        </div>
      </div>
      <div id="left" class="left"> <!-- changing class to id unhides the stop link because of css specificity gotcha -->
        <div><span id="notice"></span></div>
        <div id="overlay" class="overlay"></div>
        <div id="add_constant_force_popup" class="popup">
          x: <input type="number" id="new_constant_force_x" value="1.0"/>N, y: <input type="number" id="new_constant_force_y" value="1.0"/>N
          <input type="button" value="Add" onclick="add_constant_force(document.getElementById('new_constant_force_x').value,document.getElementById('new_constant_force_y').value)"/>
          <input type="button" value="Cancel" onclick="toolbar_clicked('add_constant_force')"/>
        </div>
        <div id="add_weight_force_popup" class="popup">
          Weight Constant: <input type="number" id="new_weight_force_g" value="9.807"/>m/s2
          <input type="button" value="Add" onclick="add_weight_force(document.getElementById('new_weight_force_g').value)"/>
          <input type="button" value="Cancel" onclick="toolbar_clicked('add_weight_force')"/>
        </div>
        <div id="add_custom_force_popup" class="popup">
          <p>Write a function (in Javascript) which returns the force vector (in N) at a given position, time and on a body of given mass and charge</p>
          <code>function force(px,py,t,m,c)
          {</code>
          <textarea id="new_force_code">return {x: 1.0, y: 1.0}; // constant force</textarea><br/>
          <code>}</code>
          <input type="button" value="Add" onclick="add_custom_force(document.getElementById('new_force_code').value)"/>
          <input type="button" value="Cancel" onclick="toolbar_clicked('add_custom_force')"/>
        </div>
        <div id="sharepopup" class="popup">
          <p>Make sure you have already saved the sketch</p>
          <p>URL: <br/><input type="text" data-bind="value: ('<%= SITE_HOME %>/sketch/' + current_sketch_id())"/></p>
          <p>Embed code: <br/>
          <textarea id="embedcode"></textarea></p>
          <a href="#" onclick="share_sketch()">Close</a>
        </div>
        <div id="welcome_popup" class="popup">
          <p>Welcome message goes here</p>
          <a href="#" onclick="toggle_popup('welcome_popup'); return false;">Close</a>
        </div>
        <nav>
        <ul class="menutrial">
        <li>
          <a href="#"><img src="/doublearrowup2.png"/></a>
          <ul id="user_options">
            <li>
              <a id="examples" href="#">Examples ></a>
              <ul>
                <li><a href="/sketch/1">Blank</a></li>
                <li><a href="/sketch/3">Sun and Earth</a></li>
                <li><a href="/sketch/2">Pendulum</a></li>
              </ul>
            </li>
            <li>
              <a id="sketchlist" data-bind="css: {disabled: !logged_in()}" href="#">My Sketches ></a>
              <ul data-bind='foreach: sketches'>
                <li><a data-bind="text: title, attr: {href: '/sketch/' + id}"></a></li>
              </ul>
            </li>
            <!-- <li><a id="displayname" data-bind="css: {disabled: !logged_in()}" href="#">Change Display Name...</a></li> -->
            <li><a id="save" data-bind="css: {disabled: !logged_in()}" href="#">Save this sketch...</a></li>
            <li>
              <a id="share" data-bind="css: {disabled: !logged_in()}" href="#">Share / Embed this sketch...</a>
            </li>
            <li id="auth_status" data-bind="text: email"></li>
            <li data-bind="visible: logged_in"><a id="signout" class="persona-button orange" href="#"><span>Log Out</span></a></li>
            <li data-bind="visible: !logged_in()"><a id="signin" class="persona-button orange" href="#"><span>Log In / Register</span></a></li>
          </ul>
        </li>
        <li><a id="select" title="Select" data-bind="css: { active: selected_action() == 'select' }" class='active' href="#" onclick="toolbar_clicked('select'); return false;"><img src="/pointer.png"/></a></li>
        <li><a id="add_particle" title="Add Particle" data-bind="css: { active: selected_action() == 'add_particle' }" href="#" onclick="toolbar_clicked('add_particle'); return false;"><img src="/particle.png"/></a></li>
        <li><a id="add_disk" title="Add Disk" data-bind="css: { active: selected_action() == 'add_disk' }" href="#" onclick="toolbar_clicked('add_disk'); return false;"><img src="/disk.png"/></a></li>
        <li><a id="add_box" title="Add Box" data-bind="css: { active: selected_action() == 'add_box' }" href="#" onclick="toolbar_clicked('add_box'); return false;"><img src="/box.png"/></a></li>
        <li><a id="add_plane" title="Add Plane" data-bind="css: { active: selected_action() == 'add_plane' }" href="#" onclick="toolbar_clicked('add_plane'); return false;"><img src="/stick.png"/></a></li>
        <li><a id="add_constant_force" title="Add Constant Force" data-bind="css: { active: selected_action() == 'add_constant_force' }" href="#" onclick="toolbar_clicked('add_constant_force'); return false;"><img src="/ConstantForce.png"/></a></li>
        <li><a id="add_weight_force" title="Add Weight Force" data-bind="css: { active: selected_action() == 'add_weight_force' }" href="#" onclick="toolbar_clicked('add_weight_force'); return false;"><img src="/WeightForce.png"/></a></li>
        <li><a id="add_custom_force" title="Add Custom Force" data-bind="css: { active: selected_action() == 'add_custom_force' }" href="#" onclick="toolbar_clicked('add_custom_force'); return false;"><img src="/ConstantForce.png"/></a></li>
        <li><a id="add_spring" title="Add Spring" data-bind="css: { active: selected_action() == 'add_spring' }" href="#" onclick="toolbar_clicked('add_spring'); return false;"><img src="/spring.png"/></a></li>
        <li><a id="add_linear_motor" title="Add Linear Motor" data-bind="css: { active: selected_action() == 'add_linear_motor' }" href="#" onclick="toolbar_clicked('add_linear_motor'); return false;"><img src="/LinearMotor.png"/></a></li>
        <li><a id="add_circular_motor" title="Add Circular Motor" data-bind="css: { active: selected_action() == 'add_circular_motor' }" href="#" onclick="toolbar_clicked('add_circular_motor'); return false;"><img src="/CircularMotor.png"/></a></li>
        <li><a id="add_note" title="Add Note" data-bind="css: { active: selected_action() == 'add_note' }" href="#" onclick="toolbar_clicked('add_note'); return false;"><img src="/note.png"/></a></li>
        <li><a id="add_tracer" title="Add Tracer" data-bind="css: { active: selected_action() == 'add_tracer' }" href="#" onclick="toolbar_clicked('add_tracer'); return false;"><img src="/tracer.png"/></a></li>
        <li><a id="add_meter" title="Add Meter" data-bind="css: { active: selected_action() == 'add_meter' }" href="#" onclick="toolbar_clicked('add_meter'); return false;"><img src="/meter.png"/></a></li>
        <li><a id="add_anchor" title="Add Anchor" data-bind="css: { active: selected_action() == 'add_anchor' }" href="#" onclick="toolbar_clicked('add_anchor'); return false;"><img src="/anchor.png"/></a></li>
        <li><a id="add_pin" title="Add Pin" data-bind="css: { active: selected_action() == 'add_pin' }" href="#" onclick="toolbar_clicked('add_pin'); return false;"><img src="/pin.png"/></a></li>
        <li><a id="add_stick" title="Add Stick" data-bind="css: { active: selected_action() == 'add_stick' }" href="#" onclick="toolbar_clicked('add_stick'); return false;"><img src="/stick.png"/></a></li>
        <li><a id="zoom_in" title="Zoom In" data-bind="css: { active: selected_action() == 'zoom_in' }" href="#" onclick="toolbar_clicked('zoom_in'); return false;"><img src="/zoomin.png"/></a></li>
        <li><a id="zoom_out" title="Zoom Out" data-bind="css: { active: selected_action() == 'zoom_out' }" href="#" onclick="toolbar_clicked('zoom_out'); return false;"><img src="/zoomout.png"/></a></li>
        <li><a id="simulate" title="Start Simulation" data-bind="css: { active: selected_action() == 'simulate' }" href="#" onclick="toolbar_clicked('simulate'); return false;"><img src="/simulate.png"/></a></li>
        <li><a id="stop" title="Stop Simulation" data-bind="css: { active: selected_action() == 'stop' }" href="#" onclick="toolbar_clicked('stop'); return false;"><img src="/stop.png"/></a></li>
        </ul>
        </nav>
      </div>
      <div id="right">
        <select data-bind="value: selected_item">
          <option value="">Select</option>
          <optgroup label="bodies" data-bind='foreach: bodies'>
            <option data-bind="attr: {value: 'body_' + $index()},text: (name() ? (name() + ' : ' + type()) : ('<Unnamed> : ' + type()))"></option>
          </optgroup>
          <optgroup label="forces" data-bind='foreach: forces'>
            <option data-bind="attr: {value: 'force_' + $index()},text: (name() ? (name() + ' : ' + type()) : ('<Unnamed> : ' + type()))"></option>
          </optgroup>
          <optgroup label="joints" data-bind='foreach: joints'>
            <option data-bind="attr: {value: 'joint_' + $index()},text: (name() ? (name() + ' : ' + type()) : ('<Unnamed> : ' + type()))"></option>
          </optgroup>
          <optgroup label="laws">
            <option data-bind="text: 'Universal Gravitation : ' + (laws.gravity() ? 'On' : 'Off')" value="law_gravity"></option>
            <option data-bind="text: 'Coulomb : ' + (laws.electric() ? 'On' : 'Off')" value="law_coulomb"></option>
			<option data-bind="text: 'Near-Earth Gravity : ' + (laws.near_earth_gravity() ? 'On' : 'Off')" value="law_near_earth_gravity"></option>
          </optgroup>
          <optgroup label="solver">
            <option data-bind="text: solver.type() + ' : Solver'" value="solver"></option>
          </optgroup>
          <optgroup label="scene">
            <option value="scene_default">Default View</option>
          </optgroup>
          <optgroup label="misc" data-bind='foreach: misc'>
            <option data-bind="attr: {value: 'misc_' + $index()},text: (name() ? (name() + ' : ' + type()) : ('<Unnamed> : ' + type()))"></option>
          </optgroup>
        </select>


        <br/>
        <!-- ko ifnot: (!selected_item() || selected_item().startsWith('law') || selected_item() == 'solver' || selected_item() == 'scene_default') -->
        <button data-bind="disable: (!selected_item() || selected_item().startsWith('law') || selected_item() == 'solver' || selected_item() == 'scene_default'), click: remove_selected_item">Delete</button>
        <!-- /ko -->

        <div data-bind="with: get_item(selected_item())">
        <table class="proptable"">
          <tbody>
            <tr><td>Name</td><td><input data-bind="value: name"></span></td></tr>
            <tr><td>Type</td><td><span data-bind="text: type"></span></td></tr>
            <!-- ko if: $parent.selected_item().split('_')[0] == 'body' -->
            <tr data-bind="if: (type() == 'disk')"><td>Radius</td><td><input type='number' data-bind="numberInput: radius"/></td></tr>
            <tr data-bind="if: (type() == 'box')"><td>Width</td><td><input type='number' data-bind="numberInput: width"/></td></tr>
            <tr data-bind="if: (type() == 'box')"><td>Height</td><td><input type='number' data-bind="numberInput: height"/></td></tr>
            <tr><td>Color</td><td><input type='color' data-bind="value: color"/></td></tr>
            <tr><td>Mass</td><td><input type="number" data-bind="numberInput: mass"/> [Kg]</td></tr>
            <tr><td>Charge</td><td><input type="number" data-bind="numberInput: charge"/> [C]</td></tr>
            <tr data-bind="if: (is_rigid(type))">
              <td>Inertia</td><td><input type='number' data-bind="numberInput: inertia"/></td>
            </tr>
            <tr>
              <td>Position</td>
              <td>
                x: <input type="number" data-bind="numberInput: position.x"/>
                y: <input type="number" data-bind="numberInput: position.y"/>
              </td>
            </tr>
            <tr data-bind="if: (is_rigid(type))">
              <td>Angle</td><td><input type='number' data-bind="numberInput: angle"/></td>
            </tr>
            <tr>
              <td>Velocity</td>
              <td>
                x: <input type="number" data-bind="numberInput: velocity.x"/>
                y: <input type="number" data-bind="numberInput: velocity.y"/>
              </td>
            </tr>
            <tr>
              <td>Acceleration</td>
              <td>
                x: <input type="number" readonly data-bind="numberInput: acceleration.x"/>
                y: <input type="number" readonly data-bind="numberInput: acceleration.y"/>
              </td>
            </tr>
            <tr data-bind="if: (is_rigid(type))">
              <td>Ang. Velocity</td>
              <td><input type="number" data-bind="numberInput: angular_velocity"/></td>
            </tr>
            <tr data-bind="if: (is_rigid(type))">
              <td>Ang. Accel</td>
              <td><input type="number" readonly data-bind="numberInput: angular_acceleration"/></td>
            </tr>
            <!-- /ko -->
            <!-- ko if: $parent.selected_item().split('_')[0] == 'force' -->
            <tr data-bind="if: (type() == 'custom')"><td>Code</td><td><textarea data-bind="value: code"></textarea></td></tr>
            <tr data-bind="if: (type() == 'constant')"><td>x</td><td><input type="number" data-bind="numberInput: x"/>N</td></tr>
            <tr data-bind="if: (type() == 'constant')"><td>y</td><td><input type="number" data-bind="numberInput: y"/>N</td></tr>
            <tr data-bind="if: (type() == 'weight')"><td>Weight constant</td><td><input type="number" data-bind="numberInput: g"/>m/s2</td></tr>
            <tr data-bind="if: (type() == 'spring' || type() == 'linear_motor' || type() == 'circular_motor')"><td>Color</td><td><input type="color" data-bind="value: color"/></td></tr>
            <tr data-bind="if: (type() == 'spring')"><td>Stiffness</td><td><input type="number" data-bind="numberInput: stiffness"/></td></tr>
            <tr data-bind="if: (type() == 'spring')"><td>Damping</td><td><input type="number" data-bind="numberInput: damping"/></td></tr>
            <tr data-bind="if: (type() == 'spring')"><td>Rest Length</td><td><input type="number" data-bind="numberInput: rest_length"/></td></tr>
            <tr data-bind="if: (type() == 'linear_motor' || type() == 'circular_motor')">
              <td>Attached to:</td>
              <td><select data-bind="options: world.bodies,
                optionsText: 'name',
                optionsValue: 'name',
                value: body,
                optionsCaption: 'Choose...'"></select></td>
            </tr>
            <tr data-bind="if: (type() == 'spring')">
              <td>Body 1:</td>
              <td><select data-bind="options: world.bodies,
                optionsText: 'name',
                optionsValue: 'name',
                value: body_1,
                optionsCaption: 'Choose...'"></select></td>
            </tr>
            <tr data-bind="if: (type() == 'spring')">
              <td>Body 2:</td>
              <td><select data-bind="options: world.bodies,
                optionsText: 'name',
                optionsValue: 'name',
                value: body_2,
                optionsCaption: 'Choose...'"></select></td>
            </tr>
            <tr data-bind="if: (type() == 'linear_motor' || type() == 'circular_motor')">
              <td>Position</td>
              <td>
                x: <input type="number" data-bind="numberInput: position.x"/>
                y: <input type="number" data-bind="numberInput: position.y"/>
              </td>
            </tr>
            <tr data-bind="if: (type() == 'spring')">
              <td>Position 1</td>
              <td>
                x: <input type="number" data-bind="numberInput: position_1.x"/>
                y: <input type="number" data-bind="numberInput: position_1.y"/>
              </td>
            </tr>
            <tr data-bind="if: (type() == 'spring')">
              <td>Position 2</td>
              <td>
                x: <input type="number" data-bind="numberInput: position_2.x"/>
                y: <input type="number" data-bind="numberInput: position_2.y"/>
              </td>
            </tr>
            <tr data-bind="if: (type() == 'linear_motor')">
              <td>Force</td>
              <td>
                x: <input type="number" data-bind="numberInput: force.x"/>
                y: <input type="number" data-bind="numberInput: force.y"/>
              </td>
            </tr>
            <tr data-bind="if: (type() == 'circular_motor')">
              <td>Torque</td><td>
              <input type="number" data-bind="numberInput: torque"/></td>
            </tr>
            <!-- /ko -->
            <!-- ko if: $parent.selected_item().split('_')[0] == 'joint' -->
            <tr><td>Color</td><td><input type="color" data-bind="value: color"/></td></tr>
            <tr data-bind="if: (type() == 'anchor' || type() == 'pin')">
              <td>Body:</td>
              <td><select data-bind="options: world.bodies,
                optionsText: 'name',
                optionsValue: 'name',
                value: body,
                optionsCaption: 'Choose...'"></select></td>
            </tr>
            <tr data-bind="if: (type() == 'anchor' || type() == 'pin')">
              <td>Position</td>
              <td>
                x: <input type="number" data-bind="numberInput: position.x"/>
                y: <input type="number" data-bind="numberInput: position.y"/>
              </td>
            </tr>
            <tr data-bind="if: (type() == 'stick')">
              <td>Body1:</td>
              <td><select data-bind="options: world.bodies,
                optionsText: 'name',
                optionsValue: 'name',
                value: body_1,
                optionsCaption: 'Choose...'"></select></td>
            </tr>
            <tr data-bind="if: (type() == 'stick')">
              <td>Body2:</td>
              <td><select data-bind="options: world.bodies,
                optionsText: 'name',
                optionsValue: 'name',
                value: body_2,
                optionsCaption: 'Choose...'"></select></td>
            </tr>
            <tr data-bind="if: (type() == 'stick')">
              <td>Position1</td>
              <td>
                x: <input type="number" data-bind="numberInput: position_1.x"/>
                y: <input type="number" data-bind="numberInput: position_1.y"/>
              </td>
            </tr>
            <tr data-bind="if: (type() == 'stick')">
              <td>Position2</td>
              <td>
                x: <input type="number" data-bind="numberInput: position_2.x"/>
                y: <input type="number" data-bind="numberInput: position_2.y"/>
              </td>
            </tr>
            <tr data-bind="if: (type() == 'anchor')">
              <td>Angle</td>
              <td><input type="number" data-bind="numberInput: angle"/></td>
            </tr>
            <tr data-bind="if: (type() == 'stick')">
              <td>Rest Length</td>
              <td><input type="number" data-bind="numberInput: rest_length"/></td>
            </tr>
            <tr data-bind="if: (type() == 'pin')">
              <td>Local Position</td>
              <td>
                x: <input type="number" data-bind="numberInput: local_position.x"/>
                y: <input type="number" data-bind="numberInput: local_position.y"/>
              </td>
            </tr>
            <!-- /ko -->
            <!-- ko if: $parent.selected_item().split('_')[0] == 'misc' -->
            <tr data-bind="if: (type() == 'note')">
              <td>Position</td>
              <td>
                x: <input type="number" data-bind="value: x"/>
                y: <input type="number" data-bind="value: y"/>
              </td>
            </tr>
            <tr data-bind="if: (type() == 'note')">
              <td>Color</td>
              <td><input type="color" data-bind="value: color"/></td>
            </tr>
            <tr data-bind="if: (type() == 'note')">
              <td>HTML</td>
              <td><textarea data-bind="value: html"></textarea></td>
            </tr>
            <tr data-bind="if: (type() == 'note')">
              <td>Size</td>
              <td>
                x: <input type="number" data-bind="value: size.x"/>
                y: <input type="number" data-bind="value: size.y"/>
              </td>
            </tr>
            <tr data-bind="if: (type() == 'tracer' || type() == 'meter' || type() == 'plane')">
              <td>Position</td>
              <td>
                x: <input type="number" data-bind="numberInput: position.x"/>
                y: <input type="number" data-bind="numberInput: position.y"/>
              </td>
            </tr>
            <tr data-bind="if: (type() == 'tracer' || type() == 'meter' || type() == 'plane')">
              <td>Color</td>
              <td><input type="color" data-bind="value: color"/></td>
            </tr>
            <tr data-bind="if: (type() == 'plane')">
              <td>Angle</td>
              <td><input type="number" data-bind="value: angle"/></td>
            </tr>
            <tr data-bind="if: (type() == 'meter')">
              <td>Size</td>
              <td>
                Width: <input type="number" data-bind="numberInput: width"/>
                Height: <input type="number" data-bind="numberInput: height"/>
              </td>
            </tr>
            <tr data-bind="if: (type() == 'meter')">
              <td>Object</td>
              <td><input type="text" data-bind="value: object"/></td>
            </tr>
            <tr data-bind="if: (type() == 'meter')">
              <td>Property</td>
              <td><input type="text" data-bind="value: property"/></td>
            </tr>
            <tr data-bind="if: (type() == 'tracer')">
              <td>Body</td>
              <td><input type="text" data-bind="value: body"/></td>
            </tr>
            <tr data-bind="if: (type() == 'tracer')">
              <td>Local Position</td>
              <td>
                x: <input type="number" data-bind="numberInput: local_position.x"/>
                y: <input type="number" data-bind="numberInput: local_position.y"/>
              </td>
            </tr>
            <!-- /ko -->
          </tbody>
        </table>
        </div>
        
        <div data-bind="if: selected_item() && selected_item().startsWith('law')">
          <table>
            <tr data-bind="if: selected_item() == 'law_gravity'"><td>Enable?</td><td><input type="checkbox" data-bind="checked: laws.gravity" /></td></tr>
            <tr data-bind="if: selected_item() == 'law_gravity'"><td>Gravitation Constant</td><td><input type="number" data-bind="numberInput: laws.gravity_constant" /></td></tr>
            <tr data-bind="if: selected_item() == 'law_coulomb'"><td>Enable?</td><td><input type="checkbox" data-bind="checked: laws.electric" /></td></tr>
            <tr data-bind="if: selected_item() == 'law_coulomb'"><td>Coulomb Constant</td><td><input type="number" data-bind="numberInput: laws.electric_constant" /></td></tr>
			<tr data-bind="if: selected_item() == 'law_near_earth_gravity'"><td>Enable?</td><td><input type="checkbox" data-bind="checked: laws.near_earth_gravity" /></td></tr>
            <tr data-bind="if: selected_item() == 'law_near_earth_gravity'"><td>Earth's g</td><td><input type="number" data-bind="numberInput: laws.earth_g" /></td></tr>
          </table>
        </div>
        
        <div data-bind="if: selected_item() == 'solver'">
          <table>
            <tr>
              <td>Type</td>
              <td><select data-bind="value: solver.type">
                <option value='euler'>Euler</option>
                <option value='rk4'>Runge Kutta 4</option>
                <option value='verlet'>Verlet (no constraints)</option>
              </select></td>
            </tr>
            <tr><td>Time Step</td><td><input type="number" data-bind="numberInput: solver.delta_t"/></td></tr>
            <tr><td>Apply Constraints?</td><td><input type="checkbox" data-bind="checked: solver.apply_constraints"/></td></tr>
            <tr><td>Use Velocity Model For Constraints?</td><td><input type="checkbox" data-bind="checked: solver.use_velocity_constraint_model"/></td></tr>
            <tr><td>Drift Correction?</td><td><input type="checkbox" data-bind="checked: solver.constraints_drift_correction"/></td></tr>
          </table>
        </div>
        
        <div data-bind="if: selected_item() == 'scene_default'">
          <table>
            <tr>
              <td>Center</td>
              <td>
                x: <input type="number" data-bind="numberInput: center.x"/>
                y: <input type="number" data-bind="numberInput: center.y"/>
              </td>
            </tr>
            <tr><td>Color</td><td><input type='color' data-bind="value: color"></td></tr>
            <tr><td>Space Scale</td><td><input type='number' data-bind="numberInput: space_scale"></td></tr>
            <tr><td>Time</td><td><input type='number' data-bind="numberInput: time"></td></tr>
            <tr><td>Frame Delay</td><td><input type='number' data-bind="numberInput: frame_delay"></td></tr>
            <tr><td>Show Crosshair?</td><td><input type='checkbox' data-bind="checked: scene.show_crosshair"></td></tr>
            <tr><td>Show Grid?</td><td><input type='checkbox' data-bind="checked: scene.show_grid"></td></tr>
          </table>
        </div>
      </div>
    </div>
    <div id="embed_tools">
      <a target="_blank" title="See this simulation on Mechasim.com" href="/sketch/<%= @sketch.id %>"><img src="/anchor.png"/></a>
      <a id="embed_simulate" title="Start Simulation" data-bind="css: { active: selected_action() == 'simulate' }" href="#" onclick="toolbar_clicked('simulate')"><img src="/simulate.png"/></a>
      <a id="embed_stop" title="Stop Simulation" data-bind="css: { active: selected_action() == 'stop' }" href="#" onclick="toolbar_clicked('stop')"><img src="/stop.png"/></a>
    </div>

  <script type="text/javascript">
      function share_sketch(){
  $("#embedcode").val("<iframe src='<%= SITE_HOME %>/sketch/" + window.user_model.current_sketch_id() + "' style='width: 500px; height: 400px'/>");
  toggle_popup("sharepopup");
}

      $(document).ready(function() {
        window.world_data = '<%= @sketch.data %>';

        physics('mycanvas');
        <% if logged_in? %>
          window.user_model = {
            logged_in: ko.observable(true),
            uid : ko.observable(<%= @current_user.id %>),
            email : ko.observable('<%= @current_user.email %>'),
            name : ko.observable('<%= @current_user.name %>'),
            sketches: ko.observable(<%= @current_user.sketch_array.to_json %>),
            current_sketch_id: ko.observable(<%= @sketch.id %>),
            selected_action: ko.observable('select')
          };
        <% else %>
          window.user_model = {
            logged_in: ko.observable(false),
            uid : ko.observable(undefined),
            email : ko.observable(undefined),
            name : ko.observable("anonymous"),
            sketches: ko.observable([]),
            current_sketch_id: ko.observable(<%= @sketch.id %>),
            selected_action: ko.observable('select')
          };
        <% end %>
        ko.applyBindings(window.user_model, document.getElementById('left'));
        $("#save").click(function() {
          save_sketch();
          return false;
        });
        $("#share").click(function() {
          share_sketch();
          return false;
        });
        <% unless session[:has_seen_welcome_popup] %>
          <% session[:has_seen_welcome_popup] = true %>
          toggle_popup('welcome_popup');
        <% end %>

        window.currentUser = <%= (logged_in?) ? "'#{@current_user.email}'" : "null" %>;

        $.getScript("https://login.persona.org/include.js", function(data, textStatus, jqxhr) {
          // enable experimental API features
          if (!navigator.id.request) {
            navigator.id.request = navigator.id.experimental.request;
            navigator.id.watch = navigator.id.experimental.watch;
          }
          
          $('#signin').click(function() {
            navigator.id.request();
            return false;
          });
  
          $('#signout').click(function() {
            navigator.id.logout();
            return false;
          });
          navigator.id.watch({
            loggedInUser: currentUser,
            onlogin: function(assertion) {
              //console.log("onlogin() called");
              //TODO : Show spinner. We're going to make an AJAX call
              $.ajax({
                type: 'POST',
                url: '/login',
                data: {assertion: assertion},
                success: function(res, status, xhr) {
                  //console.log("onlogin success returned: "); console.log(res);
                  //window.location.reload();
                  updateUIAfterLogIn(res);
                },
                error: function(res, status, xhr) {
                  //console.log("onlogin failure returned: "); console.log(res);
                  alert("login failure. check console");
                }
              });
            },
            onlogout: function() {
              //console.log("onlogout() called");
              //TODO : Show spinner. We're going to make an AJAX call
              $.ajax({
                type: 'POST',
                url: '/logout',
                success: function(res, status, xhr) {
                  //console.log("onlogout success returned: "); console.log(res);
                  //window.location.reload();
                  resetUIAfterLogOut(res);
                },
                error: function(res, status, xhr) {
                  //console.log("onlogout failure returned: "); console.log(res);
                  alert("logout failure. check console");
                }
              });
            }
          });        
        });
        
      });
  </script>
  </body>
</html>
