html {
margin: 0;
padding: 0;
overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  font: 14px/21px 'OpenSans-Reg', "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

input[type="color"] {
  width: 60px;
}

input[type="number"] {
  width: 60px;
}

#container {
  position: relative;
}

canvas {
  border: 0px solid #aaa;
  background-color: white;
  display: block;
}

.left {
  /*background-color: #ddd;*/
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

nav {
	text-align: center;
}

.left nav ul li a.disabled {
  color: #aaa;
  pointer-events: none;
  cursor: default;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 0;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
		}
			nav ul li:hover a {
				color: #fff;
			}
		
		nav ul li a {
			display: block; padding: 5px 5px;
			color: #757575; text-decoration: none;
		}
			
		
	nav ul ul {
		background: #5f6975; border-radius: 0px; padding: 0;
		position: absolute; bottom: 100%; left: 0px;
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a; position: relative;
		}
			nav ul ul li a {
				padding: 5px 5px;
				display: block;
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: #4b545f;
				}
		
	nav ul ul ul {
	  background: #5f6975; border-radius: 0px; padding: 0;
		position: absolute; left: 100%; top:0;
		width: 200px;
	}

nav .active {
  background-color: green;
}	

#stop {
  display: none;
}

#right {
  background-color: #ccf;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 300px;
}

#right > select {
  width: 300px;
}

#notice {
  text-align: center;
  background-color: yellow;
  margin: auto;
  position: relative;
  bottom: 10px;
  padding: 3px 7px;
  border-radius: 4px;
  display: none;
}

.outertable tr td {
  vertical-align: top;
}

.proptable tr td {
  font-size: 12px;
}

#canvas_div {
  position: relative;
}

.notes {
  position: absolute;
  overflow: auto;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

.popup {
  display: none;
  position: absolute;
  bottom: 300px;
  left: 450px;
  width: 300px;
  padding: 30px;
  background-color: #ddd;
  z-index: 10;
  border-radius: 9px;
}

#embed_tools {
  position: fixed;
  bottom: 5px;
  right: 5px;
  padding: 6px;
  background-color: #ddd;
  border-radius: 5px;
}

#embed_stop {
  display: none;
}

.left textarea {
  font-size: 11px;
}

.left input[type="text"]{
  font-size: 11px;
}
